.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topSide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightSide{
    display: flex;
    flex-direction: column;
}
.passwordLength, .passwordCharacter, .passwordUpperLetters, .passwordNumbers, .passwordLowerLetters{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem
}
label {
    margin-right: 1rem;
    width: 5rem;
}
.passwordGenerator{
    height: 100vh;
    margin: auto;
    width: 80rem;
}
.bottomSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.generateButton{
    padding: 0.5rem;
    width: 20rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
}

.generateButton:hover{
    cursor: pointer;
    background: #eebbc3;
}
.generatedPassword{
    text-align: left;
    width: 30rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
}

.passwordStregth{
    text-align: left;
    width: 30rem;
    white-space:nowrap;
}
.copyPassword{
    padding: 0.1rem;
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 0 1rem;
    text-transform: capitalize;
}
.password{
    margin-left: 1rem;
    color: yellow;
    font-size: 1.5rem;
}

.strength{
    margin-left: 1rem;
    font-size: 1.2rem;
}

.copyPassword:hover{
    cursor: pointer;
    color: green;
}
.copyPassword:focus{
    transform: scale(1.5);
    color: green;
}
input[type=checkbox]{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    background-color: yellow;
}